body { background: #c16a47; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 47px; display: flex; }
.block-cluster-0 { color: #e671e; font-size: 15px; margin-bottom: 5px; }
.block-logger-1 { color: #5b2b2e; font-size: 18px; margin-bottom: 5px; }
.block-cart-2 { color: #2ec36b; font-size: 21px; margin-bottom: 5px; }
.block-router-3 { color: #66d4d5; font-size: 20px; margin-bottom: 5px; }
.block-token-4 { color: #b4d40f; font-size: 20px; margin-bottom: 5px; }